@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

.Header {
    position: fixed;
    width: 100%;
    padding: 50px 0px;
    z-index: 100;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1)
}

.HeaderScrolled {
    background: rgba(0, 0, 0, 0.8);
    padding: 15px 0;
    backdrop-filter: blur(20px);
}


.HeaderGroup {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, auto); 
    align-items: center;
    justify-items: center;
}   

.Header a {
    color: white;
    font-weight: 700;
}

.Header a:nth-child(6) {
    display: none;

}

.Header a:nth-child(7) {
    display: none;

}

.Header button {
    padding: 8px 20px;
    font-size: 20px;
    background: #FED136;
    border: none;
    font-weight: 700;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Header button:hover {
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-3);
}

.HeaderGroup .Logo {
    font-family: 'Kaushan Script', cursive;
    font-size: 36px;
    color: #FED136;
    -webkit-font-smoothing: antialiased;
    line-height: 1.3;

}

@media (max-width: 640px) {
    .Header {
        padding: 15px 0;

    }

    .HeaderGroup {
        grid-template-columns: (4, auto);
    }


    .Header a:nth-child(2) {
        display: none;

    }

    .Header a:nth-child(3) {
        display: none;

    }

    .Header a:nth-child(4) {
        display: none;

    }

    .Header a:nth-child(5) {
        display: none;

    }

    .Header a:nth-child(6) {
        display: block;
    
    }
    
    .Header a:nth-child(7) {
        display: block;
    
    }



}

